In [1]:
DROP TABLE IF EXISTS NhanVien;

CREATE TABLE NhanVien (
    MaNV INTEGER PRIMARY KEY,
    HoTen VARCHAR(50),
    Tuoi INTEGER,
    PhongBan VARCHAR(50)
);

INSERT INTO NhanVien (MaNV, HoTen, Tuoi, PhongBan) VALUES
(1, 'Nguyen Van A', 30, 'Ke Toan'),
(2, 'Tran Thi B', 25, 'Nhan Su'),
(3, 'Le Van C', 28, 'IT'),
(4, 'Pham Thi D', 32, 'Ke Toan'), 
(5, 'Vu Van E', 26, 'IT'),
(6, 'Nguyen Thi F', 29, 'Marketing'),  
(7, 'Le Thi G', 27, 'Nhan Su'),
(8, 'Hoang Van H', 35, 'Ke Toan'),  
(9, 'Pham Van I', 33, 'Marketing'),  
(10, 'Tran Van J', 24, 'IT'),
(11, 'Dang Thi K', 31, 'Nhan Su'),  
(12, 'Nguyen Van L', 28, 'Ke Toan'),  
(13, 'Tran Van M', 29, 'Marketing'), 
(14, 'Pham Van N', 30, 'Nhan Su'),  
(15, 'Hoang Thi O', 27, 'IT');

In [3]:
#LấytoànbộthôngtincủanhânviêntrongbảngNhanVien
SELECT * FROM NhanVien;

MaNV,HoTen,Tuoi,PhongBan
1,Nguyen Van A,30,Ke Toan
2,Tran Thi B,25,Nhan Su
3,Le Van C,28,IT
4,Pham Thi D,32,Ke Toan
5,Vu Van E,26,IT
6,Nguyen Thi F,29,Marketing
7,Le Thi G,27,Nhan Su
8,Hoang Van H,35,Ke Toan
9,Pham Van I,33,Marketing
10,Tran Van J,24,IT
11,Dang Thi K,31,Nhan Su
12,Nguyen Van L,28,Ke Toan
13,Tran Van M,29,Marketing
14,Pham Van N,30,Nhan Su
15,Hoang Thi O,27,IT

: Msg 2812, Level 16, State 62, Line 1
Could not find stored procedure '#LấytoànbộthôngtincủanhânviêntrongbảngNhanVien'.

In [4]:
#TruyvấnHoTenvàTuoicủacácnhânviêntrongphòngIT
SELECT HoTen, Tuoi 
FROM NhanVien 
WHERE PhongBan = 'IT';

HoTen,Tuoi
Le Van C,28
Vu Van E,26
Tran Van J,24
Hoang Thi O,27

: Msg 2812, Level 16, State 62, Line 1
Could not find stored procedure '#TruyvấnHoTenvàTuoicủacácnhânviêntrongphòngIT'.

In [5]:
#Tìmnhânviêncóđộtuổilớnhơn25
SELECT * 
FROM NhanVien 
WHERE Tuoi > 25;

MaNV,HoTen,Tuoi,PhongBan
1,Nguyen Van A,30,Ke Toan
3,Le Van C,28,IT
4,Pham Thi D,32,Ke Toan
5,Vu Van E,26,IT
6,Nguyen Thi F,29,Marketing
7,Le Thi G,27,Nhan Su
8,Hoang Van H,35,Ke Toan
9,Pham Van I,33,Marketing
11,Dang Thi K,31,Nhan Su
12,Nguyen Van L,28,Ke Toan
13,Tran Van M,29,Marketing
14,Pham Van N,30,Nhan Su
15,Hoang Thi O,27,IT

: Msg 2812, Level 16, State 62, Line 1
Could not find stored procedure '#Tìmnhânviêncóđộtuổilớnhơn25'.

In [6]:
#ChobiếtnhânviênlớntuổinhấtcủamỗiPhongBan
SELECT PhongBan, HoTen, Tuoi
FROM NhanVien AS nv1
WHERE Tuoi = (
    SELECT MAX(Tuoi) 
    FROM NhanVien AS nv2
    WHERE nv1.PhongBan = nv2.PhongBan
);

PhongBan,HoTen,Tuoi
Nhan Su,Dang Thi K,31
Marketing,Pham Van I,33
Ke Toan,Hoang Van H,35
IT,Le Van C,28

: Msg 2812, Level 16, State 62, Line 1
Could not find stored procedure '#ChobiếtnhânviênlớntuổinhấtcủamỗiPhongBan'.

In [7]:
#ChuyểnđổithôngtinPhongBancủanhânviênLeVanCtừITsangMarketing
SELECT * FROM NhanVien WHERE HoTen = 'Le Van C';
UPDATE NhanVien
SET PhongBan = 'Marketing'
WHERE MaNV = 3;

MaNV,HoTen,Tuoi,PhongBan
3,Le Van C,28,IT

: Msg 2812, Level 16, State 62, Line 1
Could not find stored procedure '#ChuyểnđổithôngtinPhongBancủanhânviênLeVanCtừITsangMarketing'.

Khi chuyển đổi không gặp vấn đề

In [9]:
#Xoánhânviêncó"MaSV=2"rồichobiếtmõiphongbancóbaonhiêungười
DELETE FROM NhanVien 
WHERE MaNV = 2;
SELECT PhongBan, COUNT(*) AS SoLuongNhanVien
FROM NhanVien
GROUP BY PhongBan;

: Msg 102, Level 15, State 1, Line 1
Incorrect syntax near 'rồichobiếtmõiphongbancóbaonhiêungười'.

In [10]:
#Câu9:Cacbướcđổitừsqlitesangpython:
import sqlite3

# 1. Kết nối đến database
conn = sqlite3.connect("my_database.db")
cursor = conn.cursor()

# 2. Tạo bảng
cursor.execute('''CREATE TABLE IF NOT EXISTS students (
                    id INTEGER PRIMARY KEY, 
                    name TEXT, age INTEGER, grade TEXT)''')

# 3. Chèn dữ liệu
cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", 
               ("Nguyễn Văn A", 20, "A"))
conn.commit()

# 4. Truy vấn dữ liệu
cursor.execute("SELECT * FROM students")
print(cursor.fetchall())

# 5. Cập nhật dữ liệu
cursor.execute("UPDATE students SET grade = ? WHERE name = ?", ("B+", "Nguyễn Văn A"))
conn.commit()

# 6. Xóa dữ liệu
cursor.execute("DELETE FROM students WHERE name = ?", ("Nguyễn Văn A",))
conn.commit()
# 7. Đóng kết nối
conn.close()

: Msg 102, Level 15, State 1, Line 2
Incorrect syntax near 'import'.

: Msg 102, Level 15, State 1, Line 13
Incorrect syntax near '3.'.